src/META-INF/wsdl/192.168.56.101_8084/ConexionBDWS/Conexion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="Conexion">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://192.168.56.101:8084/ConexionBDWS/Conexion?xsd=1" />
</xsd:schema>
</types>
<message name="Sql3">
<part name="parameters" element="tns:Sql3" />
</message>
<message name="Sql3Response">
<part name="parameters" element="tns:Sql3Response" />
</message>
<message name="ObtenerEquipos">
<part name="parameters" element="tns:ObtenerEquipos" />
</message>
<message name="ObtenerEquiposResponse">
<part name="parameters" element="tns:ObtenerEquiposResponse" />
</message>
<message name="ObtenerCompeticiones">
<part name="parameters" element="tns:ObtenerCompeticiones" />
</message>
<message name="ObtenerCompeticionesResponse">
<part name="parameters" element="tns:ObtenerCompeticionesResponse" />
</message>
<message name="ObtenerJugadores">
<part name="parameters" element="tns:ObtenerJugadores" />
</message>
<message name="ObtenerJugadoresResponse">
<part name="parameters" element="tns:ObtenerJugadoresResponse" />
</message>
<message name="Conect">
<part name="parameters" element="tns:Conect" />
</message>
<message name="ConectResponse">
<part name="parameters" element="tns:ConectResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="Obtener">
<part name="parameters" element="tns:Obtener" />
</message>
<message name="ObtenerResponse">
<part name="parameters" element="tns:ObtenerResponse" />
</message>
<message name="ObtenerJugadorEquipo">
<part name="parameters" element="tns:ObtenerJugadorEquipo" />
</message>
<message name="ObtenerJugadorEquipoResponse">
<part name="parameters" element="tns:ObtenerJugadorEquipoResponse" />
</message>
<message name="ObtenerLigaEquipo">
<part name="parameters" element="tns:ObtenerLigaEquipo" />
</message>
<message name="ObtenerLigaEquipoResponse">
<part name="parameters" element="tns:ObtenerLigaEquipoResponse" />
</message>
<message name="ObtenerGolesJugador">
<part name="parameters" element="tns:ObtenerGolesJugador" />
</message>
<message name="ObtenerGolesJugadorResponse">
<part name="parameters" element="tns:ObtenerGolesJugadorResponse" />
</message>
<portType name="Conexion">
<operation name="Sql3">
<input wsam:Action="http://Servicio/Conexion/Sql3Request" message="tns:Sql3" />
<output wsam:Action="http://Servicio/Conexion/Sql3Response" message="tns:Sql3Response" />
</operation>
<operation name="ObtenerEquipos">
<input wsam:Action="http://Servicio/Conexion/ObtenerEquiposRequest" message="tns:ObtenerEquipos" />
<output wsam:Action="http://Servicio/Conexion/ObtenerEquiposResponse" message="tns:ObtenerEquiposResponse" />
</operation>
<operation name="ObtenerCompeticiones">
<input wsam:Action="http://Servicio/Conexion/ObtenerCompeticionesRequest" message="tns:ObtenerCompeticiones" />
<output wsam:Action="http://Servicio/Conexion/ObtenerCompeticionesResponse" message="tns:ObtenerCompeticionesResponse" />
</operation>
<operation name="ObtenerJugadores">
<input wsam:Action="http://Servicio/Conexion/ObtenerJugadoresRequest" message="tns:ObtenerJugadores" />
<output wsam:Action="http://Servicio/Conexion/ObtenerJugadoresResponse" message="tns:ObtenerJugadoresResponse" />
</operation>
<operation name="Conect">
<input wsam:Action="http://Servicio/Conexion/ConectRequest" message="tns:Conect" />
<output wsam:Action="http://Servicio/Conexion/ConectResponse" message="tns:ConectResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://Servicio/Conexion/loginRequest" message="tns:login" />
<output wsam:Action="http://Servicio/Conexion/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="Obtener">
<input wsam:Action="http://Servicio/Conexion/ObtenerRequest" message="tns:Obtener" />
<output wsam:Action="http://Servicio/Conexion/ObtenerResponse" message="tns:ObtenerResponse" />
</operation>
<operation name="ObtenerJugadorEquipo">
<input wsam:Action="http://Servicio/Conexion/ObtenerJugadorEquipoRequest" message="tns:ObtenerJugadorEquipo" />
<output wsam:Action="http://Servicio/Conexion/ObtenerJugadorEquipoResponse" message="tns:ObtenerJugadorEquipoResponse" />
</operation>
<operation name="ObtenerLigaEquipo">
<input wsam:Action="http://Servicio/Conexion/ObtenerLigaEquipoRequest" message="tns:ObtenerLigaEquipo" />
<output wsam:Action="http://Servicio/Conexion/ObtenerLigaEquipoResponse" message="tns:ObtenerLigaEquipoResponse" />
</operation>
<operation name="ObtenerGolesJugador">
<input wsam:Action="http://Servicio/Conexion/ObtenerGolesJugadorRequest" message="tns:ObtenerGolesJugador" />
<output wsam:Action="http://Servicio/Conexion/ObtenerGolesJugadorResponse" message="tns:ObtenerGolesJugadorResponse" />
</operation>
</portType>
<binding name="ConexionPortBinding" type="tns:Conexion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Sql3">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerEquipos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerCompeticiones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerJugadores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Conect">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Obtener">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerJugadorEquipo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerLigaEquipo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerGolesJugador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Conexion">
<port name="ConexionPort" binding="tns:ConexionPortBinding">
<soap:address location="http://192.168.56.101:8084/ConexionBDWS/Conexion" />
</port>
</service>
</definitions>